body {
   font-family: 'Nunito Sans', sans-serif;
}

.container {
   max-width: 1180px;
   margin: 0 auto;
   padding-left: 15px;
   padding-right: 15px;
}

header {
   border-bottom: 1px solid #DEDEDE;
}

.header {
   font-family: 'Open Sans', sans-serif;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding-top: 26px;
   padding-bottom: 25px;
}

.header-logo {
   display: block;
   background-image: url(../images/logo.svg);
   width: 176px;
   height: 56px;
   background-repeat: no-repeat;
   background-size: cover;
}

.header-nav {
   list-style-type: none;
   display: flex;
   padding-left: 0;
   gap: 46px;
}

.header-nav a {
   font-weight: 600px;
   font-size: 20px;
   color: #443737;
   text-decoration: none;
}

.header-nav a:hover{
   color: #FFC725;
}

.header-nav a::after {
   content: '';
   width: 100%;
   height: 3px;
   border-radius: 1.5px;
   background: transparent;
   display: block;
}

.header-nav a.active::after {
   background: #FFC725;
}

.button {
   display: flex;
   align-items: center;
   background-color: transparent;
   border: none;
   padding: 0;
   gap: 10px;
   cursor: pointer;
}

.button-item {
   position: relative;
}

.button-count {
   font-weight: bold;
   font-size: 13px;
   color: #FFFFFF;
   background: #F37335;
   border-radius: 100%;
   position: absolute;
   width: 17px;
   height: 17px;
   text-align: center;
   line-height: 1.3;
   bottom: 4px;
   right: -3px;
}

.button-text {
   color: #443737;
   font-weight: 700;
   font-size: 15px;
}

.bg {
   text-align: center;
   color: #FFFFFF;
   background-image: url(../images/bg.png);
   background-size: cover;
   background-position: center center;
   padding: 142px 0;
   margin-bottom: 140px;
}

.breadcrumbs {
   padding-left: 0;
   margin-top: 0;
   list-style-type: none;
   display: flex;
   justify-content: center;
   gap: 10px;
}

.breadcrumbs a {
   color: #DEDEDE;
   font-size: 15px;
   font-family: 'Open Sans', sans-serif;
   text-decoration: none;
   margin-bottom: 0px;
}

.breadcrumbs a:hover {
   color: #FFC725;
}

.breadcrumbs a::before {
   content: '/';
   position: relative;
   left: -5px;
   pointer-events: none;
}

.breadcrumbs a:hover::before {
   color: #DEDEDE;
}

.breadcrumbs a::before {
   color: #DEDEDE;
}

.breadcrumbs li:first-child a::before {
   display: none;
}

.title {
   font-weight: 700;
   font-size: 79px;
   margin-top: 10px;
   margin-bottom: 21px;
}

.description {
   font-family: 'Open Sans', sans-serif;
   font-size: 15px;
   line-height: 1.45;
   color: #FAF9F9;
   max-width: 320px;
   margin: 0 auto;
   margin-bottom: 4px;
}

.banner-box {
   background-image: url(../images/img.png);
   padding: 100px;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
}

.banner-title {
   display: flex;
   flex-direction: column;
   font-size: 60px;
   line-height: 76px;
   color: #FFFFFF;
}

span 2 {
   width: 95px;
   height: 28px;
   border-radius: 14px;
   font-family: 'Open Sans', sans-serif;
   font-size: 18px;
   line-height: 18px;
   background: #F37335;
   padding: 4px 0px 0px 28px;
}

.banner-text {
   color: #FAF9F9;
   width: 350px;
   margin-bottom: 40px;
}

.banner-link {
   text-decoration: none;
   color: #1E2F40;
   background-color: #FFC725;
   width: 170px;
   height: 66.5;
   padding: 10px 25px;
}

