body {
   font-family: 'Nunito Sans', sans-serif;
}

.container {
   max-width: 1180px;
   margin: 0 auto;
   padding-left: 15px;
   padding-right: 15px;
}

header {
   border-bottom: 1px solid #DEDEDE;
}

.header {
   font-family: 'Open Sans', sans-serif;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding-top: 28px;
   padding-bottom: 25px;
}

.header-item {
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-basis: 68.5%;
}

.header-logo {
   display: block;
   background-image: url(../images/logo.svg);
   width: 176px;
   height: 56px;
   background-repeat: no-repeat;
   background-size: cover;
}

.header-nav {
   list-style-type: none;
   display: flex;
   padding-left: 0 15px;
   gap: 46px;
}

.header-nav a {
   font-weight: 600;
   font-size: 20px;
   color: #443737;
   text-decoration: none;
}

.header-nav a:hover{
   color: #FFC725;
}

.header-nav a::after {
   content: '';
   width: 100%;
   height: 3px;
   border-radius: 1.5px;
   background: transparent;
   display: block;
}

.header-nav a.active::after {
   background: #FFC725;
}

.button {
   display: flex;
   align-items: center;
   background-color: transparent;
   border: none;
   padding: 0;
   gap: 10px;
   cursor: pointer;
}

.button-item {
   position: relative;
}

.button-count {
   font-weight: 700;
   font-size: 13px;
   color: #FFFFFF;
   background: #F37335;
   border-radius: 100%;
   position: absolute;
   width: 17px;
   height: 17px;
   text-align: center;
   line-height: 1.3;
   bottom: 4px;
   right: -3px;
}

.button-text {
   color: #443737;
   font-weight: 700;
   font-size: 15px;
}

.bg {
   text-align: center;
   color: #FFFFFF;
   background-image: url(../images/bg.png);
   background-size: cover;
   background-position: center center;
   padding: 142px 0;
   margin-bottom: 140px;
}

.breadcrumbs {
   padding-left: 0;
   margin: 0;
   list-style-type: none;
   display: flex;
   justify-content: center;
   gap: 7px;
}

.breadcrumbs a {
   color: #DEDEDE;
   font-size: 15px;
   font-family: 'Open Sans', sans-serif;
   text-decoration: none;
   margin-bottom: 0px;
}

.breadcrumbs a:hover {
   color: #FFC725;
}

.breadcrumbs a::before {
   content: '/';
   position: relative;
   left: -3px;
   pointer-events: none;
}

.breadcrumbs a:hover::before {
   color: #DEDEDE;
}

.breadcrumbs a::before {
   color: #DEDEDE;
}

.breadcrumbs li:first-child a::before {
   display: none;
}

.title {
   font-weight: 700;
   font-size: 79px;
   margin-top: 18px;
   margin-bottom: 21px;
}

.description {
   font-family: 'Open Sans', sans-serif;
   font-size: 15px;
   line-height: 1.45;
   color: #FAF9F9;
   max-width: 320px;
   margin: 0 auto;
   margin-bottom: 4px;
}

.banner-box {
   background-image: url(../images/img.png);
   padding: 100px 100px 100px;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
   margin-bottom: 100px;
}

.banner-title {
   font-size: 60px;
   color: #FFFFFF;
   font-weight: 900;
   margin-top: 0;
   margin-bottom: 12px;
}

.banner-title span {
   max-width: 95px;
   border-radius: 14px;
   font-family: 'Open Sans', sans-serif;
   font-size: 14px;
   background-color: #F37335;
   padding: 5px 0;
   text-transform: uppercase;
   font-weight: 600;
   display: block;
   text-align: center;
   margin-bottom: 0px;
}

.banner-text {
   color: #FAF9F9;
   width: 350px;
   margin-top: 0;
   margin-bottom: 30px;
   font-family: 'Open Sans', sans-serif;
   font-size: 15px;
   line-height: 160%;
   max-width: 320px;
}

.banner-link {
   font-size: 14px;
   text-decoration: none;
   color: #1E2F40;
   background-color: #FFC725;
   padding: 18px 25px;
   border-radius: 5px;
   text-transform: uppercase;
   border: 1px solid #FFC725;
}

.banner-link:hover {
   background-color: transparent;
   color: #FBB731;
}

.menu-header {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 35px;
}

.menu-title {
   font-size: 44px;
   font-weight: 700;
   text-transform: uppercase;
   color: #1B2A49;
   margin: 0;
}

.menu-select {
   border: 1px solid #DEDEDE;
   padding: 10px 30px;
   border-radius: 22px;
   color:  #443737;
   font-size: 15px;
   appearance: none;
   flex-basis: 279px;
   background-image: url(../images/arrow.svg);
   background-size: 12.79px 7.75px;
   background-repeat: no-repeat;
   background-position: 95% center;
}

.menu-grid {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 50px 20px;
   text-align: center;
   margin-bottom: 100px;
}

.menu-grid-title {
   font-size: 30px;
   font-weight: 600;
   color:  #1B2A49;
   margin: 0; 
}

.menu-grid-price {
   font-size: 20px;
   font-weight: 700;
   color: #979797;
   margin-top: 8px;
   margin-bottom: 22px;
}

.menu-grid-btn {
   background-color: #FBB731;
   padding: 10px 32px;
   border-radius: 5px;
   border: none;
   display: flex;
   text-align: center;
   justify-content: center;
   margin: 0 auto;
   background-repeat: no-repeat;
   background-position: 17% center;
   gap: 9px;
}
   
   .menu-grid-icon {
   display: block;
   background-size: cover;
   background-image: url(../images/menu/cart-menu.svg);
   background-repeat: no-repeat;
   width: 18px;
   height: 18px;
}

.menu-grid-cover{
   width: 100%;
   height: 430px;
   position: relative;
   overflow: hidden;
   margin-bottom: 23px;
}

.menu-grid-text {
   width: 70px;
   color: #1E2F40;
   text-transform: uppercase;
   font-weight: 700;
}

.footer {
   background: #1E2F40;
   color: #fff;
   padding-top: 117px;
   padding-bottom: 106px;
}

.footer-box {
   display: flex;
   justify-content: space-between;
}

.footer-logo {
   width: 63px;
   height: 56px;
}

.footer-item {
   flex: 0 0 auto;
}


.footer-item h2 {
   font-size: 20px;
   font-weight: 800;
   text-transform: uppercase;
   margin-bottom: 19px;
   margin-top: 0;
}


.footer-item li {
   margin-bottom: 9px;
   font-family: 'Open Sans', sans-serif;
   font-size: 15px;
   color: #FAF9F9;
   font-weight: 700;
   line-height: 24px;
}

.footer-item a {
   color: #DEDEDE;
   text-decoration: none;
   font-weight: 400;
}

.footer-item span {
   color: #DEDEDE;
   display: block;
   font-weight: 400;
   margin-bottom: 2px;
}
.footer-tel ul {
   font-size: 20px;
   font-weight: 900;
   color: #FBB731;
   margin-top: 0;
}

.footer-tel li {
   margin-bottom: 12px;
}

.footer-list-tel a {
   color: #FBB731;
   font-size: 20px;
   font-weight: 900;
   margin-top: 0;
}

.footer-list {
   padding-left: 0;
   list-style-type: none;
}

.footer-list {
   padding-left: 0;
   list-style-type: none;
}



